body {
  margin: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #393e46;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .98rem;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  color: #393e46;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.65rem;
}

hr {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: dotted;
  border-color: white;
  height: 15px;
  width: 5%;
  border-bottom-width: 6px;
}

p {
  line-height: 150%;
}

.profile {
  padding-bottom: 30px;
}

.intro {
  width: 30%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}

.skills {
  padding-top: 25px;
}

.contact-me {
  padding-top: 30px;
}

.note-pst {
  width: 30%;
  text-align: center;
  margin: auto;
  line-height: 150%;
}

.top-container {
  background-color: #d4f3ef;
  padding-top: 80px;
  position: relative;
}

.middle-container {
  background-color: #e8e4e1;
  padding-top: 75px;
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #e19999;
  padding-top: 40px;
  padding-bottom: 20px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.web {
  text-decoration: underline;
  margin-top: 25px;
}

.shop {
  padding-top: 70px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 400px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 100px;
}

.brand-img {
  width: 25%;
  float:left;
  margin-right: 30px;
}

.comp-img {
  width: 25%;
  float:right;
  margin-left: 30px;
}

.prof-img {
  width:25%;
}

.btn {
   font-family: 'Josefin Sans', sans-serif;
   color: #eeeeee;
   font-weight: 600;
   text-decoration: none;
   background-color: #838383;
   padding: 15px 20px 12px 20px;
   margin: 50px auto 50px auto;
   border-radius: 20px;
}

.btn:hover {
  font-family: 'Josefin Sans', sans-serif;
  color: #393e46;
  font-weight: 600;
  text-decoration: none;
  background-color: #fccbcb;
  padding: 15px 20px 12px 20px;
  margin: 50px auto 50px auto;
  border-radius: 20px;
}

.footer-link {
  font-family: 'Oswald', sans-serif;
     color: #eeeeee;
     font-weight: 800;
     text-decoration: none;
     margin: 50px 20px;
}

.footer-link:hover {
  font-family: 'Oswald', sans-serif;
  color: #393e46;
  font-weight: 800;
  text-decoration: none;
  margin: 50px 20px;
}
